:root {
  box-sizing: border-box;
}

.main-title {
  font-size: 32px;
  font-weight: 700;
  color: white;
  margin-top: 7px;
}

body {
  margin: 0;
  padding: 0;
  background: #68bbe3;
  padding-left: 12px;
}

.main_section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sub_section {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 12px;
}
